.albums {
    display: flex;
    flex-direction: column;
    /* flex-wrap:; */
    justify-content: space-evenly;
    padding: 0.5rem;
    margin: 0.5rem;
}

.album {
    background-color: rgb(191, 249, 249);
    border: 1px dotted rgb(97, 114, 226);
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.album__delete {
    margin-left: auto;
    background-color: aqua;
}